body{
    margin:0;
    padding: 0;
    background-color: #96c1f8;
}

header{
    height: 100px;
}

section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    margin-bottom: -20px;
}

footer{
    height: 250px;
    background-color: #5ee1e6;
}

